<h1> -> Listado de Productos</h1>
<table>
    <tr>
        <thead>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
        </thead>    
    </tr>
    <% @products.each do |produ| %>
        <tr>
            <td> <%= produ.nombre %></td>
            <td> <%= produ.descripcion %></td>
            <td>$ <%= produ.precio %></td>
            <td>
              <span>
                <%= link_to "Mostrar" %>
                <%= link_to "Editar" %>
                <%= link_to "Eliminar" %>
              </span>
            </td>
        </tr>
    <% end %>
</table>